/*=================Main Page CSS starts===================*/
* {
	margin: 0; 
	padding: 0;
}

.cover{
background:url('../images/bg01-crop.png') repeat-x scroll 0% 0% #181719;
}

/*Time to apply widths for accordian to work
Width of image = 640px
total images = 5
so width of hovered image = 640px
width of un-hovered image = 40px - you can set this to anything
so total container width = 640 + 40*4 = 800px;
default width = 800/5 = 160px;
*/

.accordian {
	width:100%; 
	height: 430px;
	overflow:hidden;
	
	/*Time for some styling*/
	margin: 0px auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: block;
	width: 280px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 40px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
width: 1100px;

}


.accordian li img {
	display: block;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
	width: 1100px;	

}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none !important;
	padding: 20px;
	font-size: 16px;
}
/*styling of circles below accordian*/
.li_space{
width:200px;
height:150px;
float:left;
padding-top:50px !important;
margin-top:30px;
}
.last{

}
.left_padding{
padding-left:50px;
padding-top:50px !important;
}
.row1{
margin-top:110px;
margin-bottom:10px;
padding-top:120px;
padding-bottom:160px;
padding-right:0px  !important;
margin-right:0px !important;
}
.border{
margin-top:20px;
border-bottom:1px solid;
}
.round{
width:130px;
height:130px;
float:right;
border:5px solid #282729;
border-radius:10px;
text-align:center;
line-height:11em;
transform:rotate(45deg);
}
.icon-size{
font-size:50px;
transform:rotate(25deg);
color:#D24726;
}
.row1-text{
font-size:19px;
font-weight:bold;
letter-spacing: 1px;
}
h1{
color:#DB6648 !important;
}
.box{
height:300px;
width:100%;
background: url('../images/6.jpg') repeat!important;
}
div{
transition:all .5s ease-in .02s;
-webkit-transition:all .5s ease-in .02s;
-moz-transition:all .5s ease-in .02s;
}
#overlay{
background:rgba(0,0,0,.75);
text-align:center;
padding:110px 0px 120px;
opacity:0;
}
.box:hover #overlay{
opacity:1;
}

 .box:hover{
transform:scale(1.01);
-moz-transform:scale(1.01);
-webkit-transform:scale(1.01);
text-decoration:none !important;
color:orange !important;
}
#word{
font-size:50px;
font-weight:500;
}
a:hover{
text-decoration:none !important;
color:orange !important;
}
.box_right1{
height:300px;
width:100%;
background-color:;
text-align:center;
display:block;
}
.box_right2{
margin-top:20px;
display:none;

}
.pad{
padding-left:0px !important;
padding-right:0px !important;
}

.know_more{
position:absolute;
color:white;
border:1px solid #282729 !important; 
border-radius:0px !important;
padding:20px 30px !important; 
bottom:0px;
left:auto;
background:rgba(0,0,0,.75);
transition:all .5s ease-in-out 1s;
-webkit-transition:all .5s ease-in-out 1s;
-moz-transition:all .5s ease-in-out 1s;
}

.know_more_sponsors{
margin-top:30px;
margin-bottom:30px;
float:left;
color:white;
border:1px solid #282729 !important; 
border-radius:90px !important;
padding:30px 80px !important;
bottom:20px;
left:200px;
background:rgba(0,0,0,.75);
transition:all .5s ease-in-out 1s;
-webkit-transition:all .5s ease-in-out 1s;
-moz-transition:all .5s ease-in-out 1s;
}
.row2{
margin-top:10px;
margin-bottom:10px;
margin-right:0px !important;
padding-top:50px;
padding-bottom:50px;
}
.go_round{
border-radius:50%;
border:1px solid white;
overflow:hidden;
}
.round_sponsors{
width:60px;
height:60px;
border:5px solid #282729;
border-radius:10px;
text-align:center;
line-height:11em;
transform:rotate(45deg);
 margin-bottom:25px;
margin-top:25px;
position:relative;
}

.icon-size_sponsors{
transform:rotate(25deg);
color:#D24726;
float:right;
margin-top:15px !important;
margin-right:18px !important;
}

#whole_2{
display:none;
}
/*footer*/
.row_foot{
margin-top:30px;
padding-right:0px  !important;
margin-right:0px !important;
border-bottom:1px solid;
}
.container_footer{
width:auto;
background:url('../images/bg01-small.png');
padding-right:0px !important;
}
.foot_align{
text-align:center;
padding-right:0px !important;
padding-left:0px !important;
padding-bottom:9px !important;
}
ul{
list-style:none;
}
.border_right{
border-right:2px solid;
}
.round_footer{
width:60px;
height:60px;
border-radius:50%;
background-color:white;
text-align:center;
}
.icon-size_footer{
font-size:20px;
text-align:center;
padding:20px 0px 10px;
}
.stay_in_touch{
width:400px;
height:70px;
border-radius:50px;
background:#181719;
text-align:center;

overflow:hidden;
}
.s{
font-size:30px;
padding:20px 22px;
padding-left:10px;
padding-right:10px;
overflow:hidden;
}
.register_main{
background:url('../images/keyboard-bg.jpg') fixed;
padding:50px 0px 50px;
margin-left:0px !important;
margin-right:0px !important;
}
.over_image{
text-align:center;
margin-left: auto;
padding-left: 15px;
padding-right: 15px;
margin-right: auto;

}
h3{
color:#D24726!important;
}
#footer_but{
margin-top:30px !important;
border:1px solid grey !important; 
border-radius:90px !important;
padding:25px 70px !important;
background:rgba(0,0,0,0);
transition:all .5s ease .01s;
-webkit-transition:all .5s ease .01s;
-moz-transition:all .5s ease .01s;
}
#footer_but:hover{
background:rgba(255, 255, 255, 0.1);
transform-origin:bottom;
transform:translateY(-10px);
-webkit-transform:translateY(-10px);
-moz-transform:translateY(-10px);
}
.footer_row{
text-align:center;
padding-top:20px;
margin-left:0px !important;
margin-right:0px !important;
}
.border_foot{
border-bottom:1px solid;
}
.copyright_color{
color: rgba(128, 128, 128, 0.75);
}
.copyright_color_1{
color: rgba(128, 128, 128, 0.75);
border-right:1px solid;
}
.spacing_footer{
margin-top:10px !important;
margin-bottom:10px !important;
font-size:15px;
}
#h6{
margin-bottom:0px !important;
margin-top:0px !important;
padding-top:0px !important;
padding-bottom:0px !important;
}
#h6_1{
margin-bottom:1px !important;
padding-top:0px !important;
}
.percent{
width:25% !important;
}
/*=============Main Page CSS ends===============*/

/*=============Literary Page CSS starts===============*/
.top_row{
margin-left:5px !important;
overflow:hidden;
}
.top_right{
margin-left:px;
margin-top:15px;
}
.top_left{
overflow:hidden;
}
.right_list{
padding-top:20px;
padding-bottom:15px;
padding-left:60px;
}

.top_sub{
font-size:20px;
line-height:2em;
color: rgba(128, 128, 128, 0.75)!important;
font-weight:500 !important;
}
.top_font{
line-height:2em;
color:#6B7770;
font-size:11.5pt;
font-weight:400;
}
.top2_right{
overflow:hidden;
}
.right_img{
height:200px;
}
.register_btn{
background:;
opacity:;
border:1px solid grey !important;
border-radius:0px !important;
}
.arrow{
text-align:center;
font-size:14px;
color:white;
width:60px;
height:55px;
background:#DF7366;
padding: 1.75em 0px 0.75em;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
margin: 0px 0px 0px;
box-shadow: 0 0 10px 1px white;
	-webkit-box-shadow: 0 0 10px 1px white;
	-moz-box-shadow: 0 0 10px 1px white;
}
.cone{
width:55px;
border-left: 1.6em solid #DF7366;
border-top: 2.1em solid transparent !important;
border-bottom: 2.0em solid transparent !important;
right: -3.9em;
bottom:-1px;
position:absolute;
}
.move_right{
float:right;
margin-top:-40px;
margin-bottom:0px;
color:#483949 !important;
opacity:0.7;
padding-right:170px;
}
.position{
margin-top:30px;
margin-bottom:30px;
}.position_li{
position:relative !important;
}
.arrow1{
width:210px;
height:131px;
background:grey;
padding: 1.75em 0px 0.75em;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
margin: 0px 0px 0px;
box-shadow: 0 0 10px 1px white;
	-webkit-box-shadow: 0 0 10px 1px white;
	-moz-box-shadow: 0 0 10px 1px white;
}
.cone1{
width:210px;
border-top: 2em solid grey;
border-left: 7.5em solid transparent !important;
border-right: 7.5em solid transparent !important;
transform:rotate(180deg);

}
.cover_lit{
background-color:beige;
}
hr{
border-color:#DF7366 !important;
opacity:0.3;
}
.move_right:hover{
color:#DF7366 !important;
opacity:1;
}
